<section class="inner-pages">
  <!-- content-wrap start -->
  <section class="container content-wrap">
    <div class="row">
      <aside class="col-md-9  fadeInRight animated">
        <section class="row">
          <div class="col-xs-12 col-sm-12">
            <ul class="breadcrumb">
              <li>
                <a href="index.html"></a>
              </li>
              <li>Family Physician</li>
            </ul>
          </div>
        </section>
        <section class="wt-bg panel border-btm">
          <h1 class="heading14 text-center text-info">No Family Physician available for this time</h1>

          <div class="col-xs-12 text-center text-primary">
            Our Family Physician are available for timings from
            <strong>10 AM 6 PM</strong>.
            <br>
            <br> Please try again for these timings or you can
            <strong>schedule a time for a consultation</strong>
            <div class="mtop15 mbottom15">
              <button class="btn btn-info">Schedule Appointment</button>
            </div>
          </div>
        </section>
        <!-------------------------wt-bg closed-------------------->
      </aside>
      <!-- /left-content closed-->
      <aside class="col-sm-3 hidden-xs hidden-sm fadeInLeft animated afixed">
        <h5 class="heading14 bdr-bottom ">How it works?</h5>
        <ul class="howWork-valign mtop15">
          <li><span class="icon-doc icon-sec" aria-hidden="true"></span>
            <div class="how-text">
              <h5 class="text-info mbottom5">1. Choose <small> a doctor</small></h5>
              <p class="font-11">Choose your preferred doctor , mode of consultation , preferred date and time.</p>
            </div>
          </li>
          <li><span class="icon-credit-card icon-sec" aria-hidden="true"></span>
            <div class="how-text">
              <h5 class="text-info mbottom5">2. Pay <small> for consultation</small></h5>
              <p class="font-11">Pay the consultation fees to initiate consultation.</p>
            </div>
          </li>
          <li><span class="icon-edit-document icon-sec" aria-hidden="true"></span>
            <div class="how-text">
              <h5 class="text-info mbottom5">3. Fill <small> Medical Symptoms</small></h5>
              <p class="font-11">Share Medical symptoms and reports.</p>
            </div>
          </li>

          <li><span class="icon-prescription icon-sec" aria-hidden="true"></span>
            <div class="how-text">
              <h5 class="text-info mbottom5">4. Get <small> Doctor Consultation</small></h5>
              <p class="font-11">Complete your consultation at your requested date & time.</p>
            </div>
          </li>
          <li><span class="icon-pills icon-sec" aria-hidden="true"></span>
            <div class="how-text">
              <h5 class="text-info  mbottom5">5. Get <small> Prescription</small></h5>
              <p class="font-11">Get medical prescription or advise for your consultation.</p>
            </div>
          </li>
        </ul>

      </aside>
      <!-- /right-content closed -->
    </div>
    <!-- /row -->
  </section>
  <!-- /content-wrap closed -->
</section>