<!-- inner-pages start -->
<section class="inner-pages">
  <!-- mini-header start-->
  <section class="mini-header">
    <div class="brn-btm">
      <div class="container filter-sec">
	  	
		
      </div>
    </div>
  </section>
  <!-- /mini-header closed-->
  <!-- content-wrap start -->
  <section class="container content-wrap">
    <div class="row">     
    
		<aside class="col-sm-12 fadeInLeft animated wt-bg">
	    	<section class="row bdr-bottom">
	    		<div class="col-sm-6">
	    			<h4 class="text-primary margin0">Speciality Directory</h4>
	    		</div>
	    		<div class="col-sm-6 pb-5">
          	    			
              <form class="form-inline text-right-xs" #f="ngForm" (ngSubmit)="searchSpeciality(f)" novalidate>
                <label>Search : </label>                
                <input class="form-control input-sm mtop5-xs" 
                  type="text" placeholder="Enter Speciality Name" 
                  maxlength="300" [(ngModel)]="specialitytFilter.Keyword" 
                  [typeahead]="specialityComplex" typeaheadOptionField="Keyword"
                  [typeaheadScrollable]="true"
                  [typeaheadOptionsInScrollableView]="8"
                  (typeaheadOnSelect)="onSelect($event)" name="specialsearch">  
                </form>  			
	    		</div>
	    	</section>
	
		
			<section class="mtop20">
				<ul class="list-arrow-link wdt-30-md bdr-btm-link">
					<li *ngFor="let speciality of speciality | filterBy: specialitytFilter">
                	<a [routerLink]="['/india', speciality.UrlKeyword]">{{speciality.Keyword}}</a>
                	</li>
                </ul>	
	
			</section>
		
      	</aside>
      <!-- /wt-bg closed -->
	  
	  
    </div>
    <!-- /row -->
  </section>
  <!-- /content-wrap closed -->
</section>
<!--/ inner-pages closed -->