<section class="row panel border-btm">
  <div class="col-sm-8">
    <h4 class="text-primary">
      <span class="icon-location " aria-hidden="true"></span> {{ docLocation.HospitalName }} </h4>
    <p class="mtop15">
      {{docLocation.HospitalAddress}}
    </p>
    <ul class="data-list">
      <li class="text-primary">
        <a class="text-info" href="{{ hosAddressLink }}" target="_blank">
          <img src="../../../assets/compass.png" alt="Apollo"> Get Directions
        </a>
      </li>
    </ul>
  </div>

  <div class="col-sm-4">
    <h4 class="text-primary">
      <span class="icon-clock mright5" aria-hidden="true"></span> Timing</h4>
    <ul class="data-list">
      <li *ngIf="docLocation.DoctorprofileSlotDayandTilmeList.length > 0">
        {{ docLocation.DoctorprofileSlotDayandTilmeList[0].Day }}
        <p class="text-info margin0">( {{splitString(docLocation.DoctorprofileSlotDayandTilmeList[0].Time)}} )</p>
      </li>
    </ul>

    <button type="button" class="btn btn-info mtop20" *ngIf="docSummary.IsInterestedInEdoc ==0" (click)="makeAppointment()">
      <span class="icon-electric-current-symbol" aria-hidden="true"></span> Book Appointment
    </button>

    <button type="button" class="btn btn-infoLine mtop20" *ngIf="docSummary.IsInterestedInEdoc ==1" (click)="requestAppointment()">
      <span class="icon-electric-current-symbol" aria-hidden="true"></span> Request Appointment
    </button>

  </div>

  <div class="clearfix"></div>
  <section [collapse]="isCollapsed" class="panel-collapse collapse">
    <a class="close-btn" (click)="isCollapsed = !isCollapsed">x close</a>
    <h5 class="text-info text-center mtop20">Select a time slot to book an appointment</h5>

    <div class="caldar-block">
      <div id="{{docLocation.HospitalId}}" class="carousel slide monthly-view" data-interval="false">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="item active">
            <div class="row-fluid">
              <div class="col-xs-2" *ngFor="let d of firstWeek" (click)="getSlotsDate(d.fullDate, true, false)">
                <a [ngClass]="{'active': d.fullDate == selectedDate }">
                  <span class="date-view">{{ d.date }}</span>
                  <span class="day-view"> {{ d.weekday }}
                    <br /> {{ d.month }}</span>
                </a>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="row-fluid">
              <div class="col-xs-2" *ngFor="let d of secondWeek" (click)="getSlotsDate(d.fullDate, true, false)">
                <a [ngClass]="{'active': d.fullDate == selectedDate }">
                  <span class="date-view">{{ d.date }}</span>
                  <span class="day-view"> {{ d.weekday }}
                    <br /> {{ d.month }}</span>
                </a>
              </div>

              <div class="col-xs-2" *ngIf="pickedFromCalendar" (click)="getPickedDateSlots()">
                <a [ngClass]="{'active': datePickedFromCalendar.fullDate == selectedDate}">
                  <span class="date-view">{{ datePickedFromCalendar.date }}</span>
                  <span class="day-view"> {{ datePickedFromCalendar.weekday }}
                    <br /> {{ datePickedFromCalendar.month }}</span>
                </a>
              </div>

              <div class="col-xs-4">
                <a class="calview" (click)="toggleCalendar()">
                  <span class="icon-calendar-daily-page-on-day-31" #dp="bsDatepicker" bsDatepicker [bsConfig]="bsConfig"
                    [minDate]="minDate" [maxDate]="maxDate" (onHidden)="hideDP()" (bsValueChange)="onDatePicked($event)">
                  </span> Monthly
                </a>
              </div>
            </div>

          </div>
        </div>
        <!--/carousel-inner-->
        <a class="left carousel-control" href="#{{docLocation.HospitalId}}" data-slide="prev">
          <span class="icon-left-arrow"></span>
        </a>
        <a class="right carousel-control" href="#{{docLocation.HospitalId}}" data-slide="next">
          <span class="icon-right-arrow"></span>
        </a>

      </div>
      <!--/mhlyCarousel-->
      <div class="col-sm-12 slots-sec">
        <div class="row">
          <div class="col-sm-2 period">
            <span class="icon-tea-cup" aria-hidden="true"></span> Morning
          </div>
          <div class="col-sm-10" *ngIf="currentDaySlots.morningSlots!=null">
            <a class="btn btn-sm btn-primaryLine" (click)="bookAppointment(ms)" *ngFor="let ms of currentDaySlots.morningSlots">{{
              ms.slotTime }}</a>
          </div>
          <div class="col-sm-10" *ngIf="currentDaySlots.morningSlots==null || currentDaySlots.morningSlots.length==0 ">
            No slots available </div>
        </div>
      </div>

      <div class="col-sm-12 slots-sec lunch">
        <div class="row">
          <div class="col-sm-2 period">
            <span class="icon-sun" aria-hidden="true"></span> Afternoon
          </div>
          <div class="col-sm-10" *ngIf="currentDaySlots.afternoonSlots!=null">
            <a class="btn btn-sm btn-primaryLine" (click)="bookAppointment(afs)" *ngFor="let afs of currentDaySlots.afternoonSlots">{{
              afs.slotTime }}</a>
          </div>
          <div class="col-sm-10" *ngIf="currentDaySlots.afternoonSlots==null || currentDaySlots.afternoonSlots.length==0 ">
            No slots available </div>
        </div>
      </div>

      <div class="col-sm-12 slots-sec night">
        <div class="row">
          <div class="col-sm-2 period">
            <span class="icon-half-moon" aria-hidden="true"></span> Evening
          </div>
          <div class="col-sm-10" *ngIf="currentDaySlots.eveningSlots!=null">
            <a class="btn btn-sm btn-primaryLine" (click)="bookAppointment(es)" *ngFor="let es of currentDaySlots.eveningSlots">{{
              es.slotTime }}</a>
          </div>
          <div class="col-sm-10" *ngIf="currentDaySlots.eveningSlots==null || currentDaySlots.eveningSlots.length==0 ">
            No slots available </div>
        </div>
      </div>

    </div>

  </section>
  <ng-template #template>
    <div class="modal-body">
      <div class="modal-body ptop15"> <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()">&times;</button>
        <div class="text-center mtop10 ">
          <span class="oops text-info "><span class="glyphicon glyphicon-exclamation-sign"></span></span>
          <h4 class="mtop0">We are not able to fetch doctor's slot</h4>
          <p class="mtop20 font-12 text-grey">Please give us a call to Book an Appointment: </p>
          <h4><span class="icon-telephone icon-sec text-primary" aria-hidden="true"></span> <a href="tel:18605001066">1860-500-1066</a>
          </h4>
          <p class="visible-xs"><a href="tel:18605001066" class="btn btn-info "> &nbsp; Call &nbsp; </a></p>

        </div>
      </div>
    </div>
  </ng-template>

</section>