<section class="row panel border-btm">
  <div class="col-sm-8">
    <h4 class="text-primary">
      <span class="icon-location " aria-hidden="true"></span> {{ docLocation.HospitalName }} </h4>
    <p class="mtop15">
      {{doc.HospitalName}}
    </p>
    <ul class="data-list">
      <li class="text-primary">
        <a class="text-info" href="{{ hosAddressLink }}">
          <img src="../../../assets/compass.png" alt="Apollo"> Get Directions
        </a>
      </li>
    </ul>
  </div>

  <div class="col-sm-4">
    <!-- <h4 class="text-primary">
      <span class="icon-clock mright5" aria-hidden="true"></span> Timing</h4>
    <ul class="data-list">
      <li>
        {{splitDayOfWeek(doc.DayofWeek)}}  -->
        <!-- <p class="text-info margin0">( {{ docLocation.DoctorprofileSlotDayandTilmeList[0].Time }} )</p> -->
      <!-- </li>
    </ul> -->

    <!-- <button type="button" class="btn btn-info mtop20" *ngIf="docSummary.notInterestedIneDoc ==0" (click)="makeAppointment()">
        <span class="icon-electric-current-symbol" aria-hidden="true"></span> Book Appointment
      </button>

    <button type="button" class="btn btn-infoLine mtop20" *ngIf="docSummary.notInterestedIneDoc ==1" (click)="requestAppointment()">
        <span class="icon-electric-current-symbol" aria-hidden="true"></span> Request Appointment
      </button> -->

    <div class="right-block consultationtype-btn-group mt-1">
      <div class="consultation-fee">Consultation Fee <span class="text-info">{{fee}}</span></div>
      <div class="mode-btns mtop30">
        <h5>Book Appointment</h5>
        <a *ngIf="HasVideo" (click)="makeAppointmentC('video')" class="btn btn-info" data-toggle="collapse" href="#collapseOne"
          data-parent="#accordion"><span  data-toggle="tooltip" data-placement="bottom" title="Video Consultation"><span class="icon-video-camera"></span></span></a>
        <a *ngIf="HasVoice" (click)="makeAppointmentC('voice')" class="btn btn-info" data-toggle="collapse" href="#collapseOne"
          data-parent="#accordion"><span  data-toggle="tooltip" data-placement="bottom" title="Phone Consultation"><span class="icon-telephone"></span></span></a>
        <a *ngIf="HasEmail" (click)="makeAppointmentC('email')" class="btn btn-info btn-email"><span  data-toggle="tooltip" data-placement="bottom" title="Email Consultation"><span class="icon-envelope"></span></span></a>

      </div>

      <div class="clearfix"></div>
    </div>


  </div>
  <ngx-json-ld [json]="SEOSchema"></ngx-json-ld>
  <div class="clearfix"></div>
  <section [collapse]="isCollapsed" class="panel-collapse collapse">
    <a class="close-btn" (click)="isCollapsed = !isCollapsed">x close</a>
    <h5 class="text-info text-center mtop20">Select a time slot to book an appointment</h5>

    <div class="caldar-block">
      <div id="{{doc.DoctorId}}" class="carousel slide monthly-view" data-interval="false">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="item active">
            <div class="row-fluid">
              <div class="col-xs-2" *ngFor="let d of firstWeek" (click)="getSlotsDate(d.fullDate, true, false)">
                <a [ngClass]="{'active': d.fullDate == selectedDate}">
                  <span class="date-view">{{ d.date }}</span>
                  <span class="day-view"> {{ d.weekday }}
                    <br /> {{ d.month }}</span>
                </a>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="row-fluid">
              <div class="col-xs-2" *ngFor="let d of secondWeek" (click)="getSlotsDate(d.fullDate, true, false)">
                <a [ngClass]="{'active': d.fullDate == selectedDate}">
                    <span class="date-view">{{ d.date }}</span>
                    <span class="day-view"> {{ d.weekday }}
                      <br /> {{ d.month }}</span>
                </a>
              </div>

              <div class="col-xs-2" *ngIf="pickedFromCalendar" (click)="getPickedDateSlots()">
                <a [ngClass]="{'active': datePickedFromCalendar.fullDate == selectedDate}">
                  <span class="date-view">{{ datePickedFromCalendar.date }}</span>
                  <span class="day-view"> {{ datePickedFromCalendar.weekday }}
                    <br /> {{ datePickedFromCalendar.month }}</span>
                </a>
              </div>

              <div class="col-xs-4">
                <a class="calview" (click)="toggleCalendar()">
                  <span class="icon-calendar-daily-page-on-day-31" #dp="bsDatepicker" bsDatepicker 
                    [bsConfig]="bsConfig" [minDate]="minDate" [maxDate]="maxDate" 
                    (onHidden)="hideDP()" (bsValueChange)="onDatePicked($event)">
                  </span> Monthly
                </a>
              </div>
            </div>

          </div>
        </div>
        <!--/carousel-inner-->
        <a class="left carousel-control" href="#{{doc.DoctorId}}" data-slide="prev">
          <span class="icon-left-arrow"></span>
        </a>
        <a class="right carousel-control" href="#{{doc.DoctorId}}" data-slide="next">
          <span class="icon-right-arrow"></span>
        </a>

      </div>
      <!--/mhlyCarousel-->
      <div class="col-sm-12 slots-sec">
        <div class="row">
          <div class="col-sm-2 period">
            <span class="icon-tea-cup" aria-hidden="true"></span> Morning
          </div>
          <div class="col-sm-10" *ngIf="morning!=null">
            <a class="btn btn-sm btn-primaryLine" (click)="slotSelected(ms)" *ngFor="let ms of morning">{{ ms.DisplayTime }}</a>
          </div>
          <div class="col-sm-10" *ngIf="morning.length==0"> No slots available </div>
        </div>
      </div>

      <div class="col-sm-12 slots-sec lunch">
        <div class="row">
          <div class="col-sm-2 period">
            <span class="icon-sun" aria-hidden="true"></span> Afternoon
          </div>
          <div class="col-sm-10" *ngIf="afternoon!=null">
            <a class="btn btn-sm btn-primaryLine" (click)="slotSelected(ms)" *ngFor="let ms of afternoon">{{ ms.DisplayTime }}</a>
          </div>
          <div class="col-sm-10" *ngIf="afternoon.length==0 "> No slots available </div>
        </div>
      </div>

      <div class="col-sm-12 slots-sec night">
        <div class="row">
          <div class="col-sm-2 period">
            <span class="icon-half-moon" aria-hidden="true"></span> Evening
          </div>
          <div class="col-sm-10" *ngIf="night!=null">
            <a class="btn btn-sm btn-primaryLine" (click)="slotSelected(ms)" *ngFor="let ms of night">{{ ms.DisplayTime }}</a>
          </div>
          <div class="col-sm-10" *ngIf="night.length==0"> No slots available </div>
        </div>
      </div>


    </div>

  </section>

</section>