<!-- <img src="./assets/404.jpg" alt="404 page" style="width: 100%;">-->
<section class="inner-pages"> 
    <section class="container content-wrap">
		 <ul class="breadcrumb">
                <li style="cursor:pointer" routerLink="/"> &nbsp;</li>
                <li>404</li>
            </ul>
    <div class="row">
           
        <section class="wt-bg">
			<h1 class="heading mtop5 mleft-xs-0">404</h1>
		  <section class="row mtop10 ">
						<div class="col-sm-8 mb-15">
							<h3>Something went wrong!!!</h3>
							<p>We are sorry, the page you requested cannot be found.</p>
							<a routerLink="/" class="text-info fonts-16"><span class=" 	glyphicon glyphicon-arrow-left font-12"></span> <span class=" glyphicon glyphicon-home " aria-hidden="true"></span> Return to homepage</a>
							<h3 class="mtop40 text-primary">We can help!</h3>
							
							<p>if you’re seeing this issue repeatedly. Let us know and we’ll look into it.</p>
							<p>Please email us at:<a href="maito:info@askapollo.com" class="text-info"><span class="glyphicon glyphicon-envelope icon-sec" aria-hidden="true"></span> info@askapollo.com</a></p>
							<p><strong class="text-info">OR</strong></p> Call Us at:  
							<a href="tel:18605001066" class="text-info"><span class=" icon-telephone " aria-hidden="true"></span> 1860-500-0707</a>
						</div>
						<div class="col-sm-4 mb-15 hidden-xs"><img src="./assets/404.png" width="248" height="248" alt=""/></div>
		  </section>
			<section class="lightgrey-box radius25 mtop40 text-center fbuttons-mgns">
			<a routerLink="/" class="btn btn-infoLine radius25 mtop15-xs blck-xs"><span class="icon-doctor" aria-hidden="true"></span> Book Appointment <span class="icon-right-arrow"></span></a>
				
				<a routerLink="/onlineconsultation" class="btn btn-infoLine radius25 mtop15-xs blck-xs"><span class="icon-smartphone-call" aria-hidden="true"></span> Consult Online <span class="icon-right-arrow"></span></a>
				
				<a target="_blank" href="https://www.askapollo.com/physical-appointment/BookHealthCheckAppointment.aspx" class="btn btn-infoLine radius25 mtop15-xs blck-xs"><span class="icon-medical-heart-health-check" aria-hidden="true"></span> Book  health check <span class="icon-right-arrow"></span></a>
				
				<a target="_blank" href="https://www.apolloprism.com/" class="btn btn-infoLine radius25 mtop15-xs blck-xs"><span class="icon-clipboard-with-pencil" aria-hidden="true"></span> Health Records  <span class="icon-right-arrow"></span></a>
			</section>
          </section>
        <!-- /wt-bg closed --> 
        
  
        
        <!-- /right-content closed --> 
      </div>
    <!-- /row --> 
  </section>
    <!-- /content-wrap closed --> 
  </section>