.loginModal {
    margin-top: 0px;
}
.modal {
    top: 100px;
}
.logicons {
    figure {
        width: 65px;
        float: left;

        .round-tab {
            width: 100%;
            height: 100%;
        }
    }

    figcaption {
        margin-left: 70px;
    }

    li {
        margin-bottom: 20px;

        &:after {
            display: table;
            clear: both;
            content: " ";
        }
    }
}

.modal-body .list-bdr li {
    font-size: 13px;
}

.form-group label, .fltr-btn label {
    font-weight: normal;
}

.bootstrap-select .btn {
    font-size: 13px;
}

.font-12 {
    font-size: 12px;
}

.loginModal {
    .modal-body {
        background: url(../../../../../assets/popup-bg.png) no-repeat 130px 100px;
    }

    .modal-content {
        background-color: #e9eaea;
    }
}

.login-form {
    margin: -70px 0 -131px;
    position: relative;
    border-radius: 6px;
    -webkit-border-radius: 6px;
}

.login-form-top {
    background: #fff;
    padding: 15px;
    border-radius: 6px 6px 0px 0px;
}

.mtop5 {
    margin-top: 5px;
}

.mtop40 {
    margin-top: 40px;
}

.login-form-bottom {
    background: #e8e8e8;
    padding: 15px;
    border-radius: 0px 0px 6px 6px;
}

.btn-facebook {
    background-color: #3856a0;
    color: #fff;

    &:hover, &:focus {
        background-color: #2a4b9a;
        color: #fff;
    }
}

.btn-google {
    background-color: #dd4330;
    color: #fff;

    &:hover, &:focus {
        background-color: #d03320;
        color: #fff;
    }
}

.form-container {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    -webkit-border-radius: 6px;
}

.menu-slider {
    z-index: 510;
}

.faded {
    z-index: 500;
}

.zindex1000 {
    z-index: 400;
}

a {
    &.text-info:hover {
        color: #007c9d !important;
    }

    &.text-primary:hover {
        color: #ec7323 !important;
    }
}

.navyalog {
    padding: 80px 0px;
    color: #007c9d;
    text-align: center;
}
