<section class="inner-pages" id="mycontactus">
  <!-- mini-header start-->
  <section class="mini-header"> </section>
  <!-- /mini-header closed-->
  <!-- content-wrap start -->
  <section class="container content-wrap">
    <div class="row">
      <aside class="col-md-12 right-content fadeInRight animated">
        <section class="row">
          <div class="col-xs-7 col-sm-10">
            <ul class="breadcrumb">
              <li>
                <a routerLink="contact-us"></a>
              </li>
              <li>Contact Us</li>
            </ul>
          </div>
        </section>
        <section class="wt-bg">
          <h1 class="heading mtop5 mleft-xs-0">Contact Us</h1>
          <section class="row mtop20">
            <div class="col-sm-4 hidden-xs">
              <img class="img-rounded img-responsive bdr-grey" src="./assets/contact-pc.jpg" width="300" height="300" alt=""
              /> </div>
            <div class="col-sm-8 ">
              <section class="accord-content ptop-5" id="accord">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a href="#collapseOne" data-parent="#accord" data-toggle="collapse" class="" aria-expanded="false">
                        <span class="icon-apollologo text-primary" aria-hidden="true"></span> Apollo Hospitals
                        <i class="accord glyphicon glyphicon-plus"></i>
                      </a>
                    </h4>
                  </div>
                  <div class="panel-collapse collapse in" id="collapseOne" aria-expanded="false">
                    <div class="panel-body">
                      <ul class="howWork-valign">
                        <li>
                          <span class=" icon-telephone icon-sec" aria-hidden="true"></span>
                          <div class="how-text">
                            <h5 class="text-primary mtop10">
                              <a href="tel:18605001066">1860-500-1066</a>
                            </h5>
                            <p class="mbottom0">Pan India</p>
                          </div>
                        </li>
                        <li>
                          <span class=" icon-telephone icon-sec" aria-hidden="true"></span>
                          <div class="how-text">
                            <h5 class="text-primary mtop10">
                              <a href="tel:18605001066"> 040-43441066</a>
                            </h5>
                            <p class="mbottom0">International</p>
                          </div>
                        </li>
                        <li>
                          <span class=" icon-telephone icon-sec" aria-hidden="true"></span>
                          <div class="how-text">
                            <h5 class="text-primary mtop10">
                              <a href="tel:18605001066">1860-500-0707</a>
                            </h5>
                            <p class="mbottom0">Health Check</p>
                          </div>
                        </li>
                        <li>
                          <span class="icon-whatsapp-logo-variant icon-sec" aria-hidden="true"></span>
                          <div class="how-text">
                            <h5 class="text-primary mtop10">
                              <a href="https://api.whatsapp.com/send?phone=+919133873311&amp;text=Hi, I contacted you Through your website."
                                target="_blank">+91 9133 873 311</a>
                            </h5>
                            <p class="mbottom0">Whatsapp</p>
                          </div>
                        </li>
                        <li>
                          <span class="glyphicon glyphicon-envelope icon-sec" aria-hidden="true"></span>
                          <div class="how-text">
                            <h5 class="text-primary mtop10">
                              <a href="mailto:info@apollohospitals.com"></a>info@apollohospitals.com</h5>
                            <p class="mbottom0">Domestic</p>
                          </div>
                        </li>
                        <li>
                          <span class="glyphicon glyphicon-envelope icon-sec" aria-hidden="true"></span>
                          <div class="how-text">
                            <h5 class="text-primary mtop10">
                              <a href="mailto:internationalcare@apollohospitals.com">internationalcare@apollohospitals.com</a>
                            </h5>
                            <p class="mbottom0">International</p>
                          </div>
                        </li>
                        <li>
                          <span class="glyphicon glyphicon-envelope icon-sec" aria-hidden="true"></span>
                          <div class="how-text">
                            <h5 class="text-primary mtop10">
                              <a href="mailto:aphc@apollohospitals.com">aphc@apollohospitals.com</a>
                            </h5>
                            <p class="mbottom0">Health Check</p>
                          </div>
                        </li>
                        <li>
                          <span class="glyphicon glyphicon-envelope icon-sec" aria-hidden="true"></span>
                          <div class="how-text">
                            <h5 class="text-primary mtop10">
                              <a href="mailto:askapollo@apollohospitals.com">askapollo@apollohospitals.com</a>
                            </h5>
                            <p class="mbottom0">Ask Apollo</p>
                          </div>
                        </li>

                      </ul>
                    </div>
                  </div>
                </div>
                <!-- /panel ends -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a href="#collapseTwo" data-parent="#accord" data-toggle="collapse" class="collapsed" aria-expanded="false">
                        <span class="icon-apollologo text-primary" aria-hidden="true"></span>Apollo Clinics
                        <i class="accord glyphicon glyphicon-plus"></i>
                      </a>
                    </h4>
                  </div>
                  <div class="panel-collapse collapse" id="collapseTwo" aria-expanded="false">
                    <div class="panel-body">
                      <ul class="howWork-valign  ">
                        <li>
                          <span class=" icon-telephone icon-sec" aria-hidden="true"></span>
                          <div class="how-text">
                            <h5 class="text-primary mtop10">
                              <a href="tel:18605007788">1860-500-7788</a>
                            </h5>
                            <p class="mbottom0">Helpline No</p>
                          </div>
                        </li>
                        <li>
                          <span class="icon-whatsapp-logo-variant icon-sec" aria-hidden="true"></span>
                          <div class="how-text">
                            <h5 class="text-primary mtop10">
                              <a href="https://api.whatsapp.com/send?phone=+919701003333&amp;text=Hi, I contacted you Through your website."
                                target="_blank">+91 9701 003 333</a>
                            </h5>
                            <p class="mbottom0">Whatsapp</p>
                          </div>
                        </li>

                        <li>
                          <span class="glyphicon glyphicon-envelope icon-sec" aria-hidden="true"></span>
                          <div class="how-text">
                            <h5 class="text-primary mtop10">
                              <a href="maito:clinics@apollolifeline.com">clinics@apollolifeline.com</a>
                            </h5>
                            <p class="mbottom0">Email</p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- /panel ends -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a href="#collapseThree" data-parent="#accord" data-toggle="collapse" class="collapsed" aria-expanded="false">
                        <span class="icon-apollologo text-primary" aria-hidden="true"></span>Apollo Cradle
                        <i class="accord glyphicon glyphicon-plus"></i>
                      </a>
                    </h4>
                  </div>
                  <div class="panel-collapse collapse" id="collapseThree" aria-expanded="false">
                    <div class="panel-body">
                      <ul class="howWork-valign  ">
                        <li>
                          <span class=" icon-telephone icon-sec" aria-hidden="true"></span>
                          <div class="how-text">
                            <h5 class="text-primary mtop10">
                              <a href="tel:+914044244424">+91 4044 244 424</a>
                            </h5>
                            <p class="mbottom0">Helpline No</p>
                          </div>
                        </li>
                        <li>
                          <span class="icon-whatsapp-logo-variant icon-sec" aria-hidden="true"></span>
                          <div class="how-text">
                            <h5 class="text-primary mtop10">
                              <a href="https://api.whatsapp.com/send?phone=+919100094422&amp;text=Hi, I contacted you Through your website."
                                target="_blank">+91 9100 094 422</a>
                            </h5>
                            <p class="mbottom0">Whatsapp</p>
                          </div>
                        </li>

                        <li>
                          <span class="glyphicon glyphicon-envelope icon-sec" aria-hidden="true"></span>
                          <div class="how-text">
                            <h5 class="text-primary mtop10">
                              <a href="maito:cradle.callcentre@apollocradle.com">cradle.callcentre@apollocradle.com</a>
                            </h5>
                            <p class="mbottom0">Email</p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- /panel ends -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a href="#collapseFour" data-parent="#accord" data-toggle="collapse" class="collapsed" aria-expanded="false">
                        <span class="icon-apollologo text-primary" aria-hidden="true"></span>Apollo Spectra
                        <i class="accord glyphicon glyphicon-plus"></i>
                      </a>
                    </h4>
                  </div>
                  <div class="panel-collapse collapse" id="collapseFour" aria-expanded="false">
                    <div class="panel-body">
                      <ul class="howWork-valign  ">
                        <li>
                          <span class=" icon-telephone icon-sec" aria-hidden="true"></span>
                          <div class="how-text">
                            <h5 class="text-primary mtop10">
                              <a href="tel:18605002244">1860-500-2244</a>
                            </h5>
                            <p class="mbottom0">Helpline No</p>
                          </div>
                        </li>
                        <li>
                          <span class="icon-whatsapp-logo-variant icon-sec" aria-hidden="true"></span>
                          <div class="how-text">
                            <h5 class="text-primary mtop10">
                              <a href="https://api.whatsapp.com/send?phone=+917893492244&amp;text=Hi, I contacted you Through your website."
                                target="_blank">+91 7893 492 244</a>
                            </h5>
                            <p class="mbottom0">Whatsapp</p>
                          </div>
                        </li>

                        <li>
                          <span class="glyphicon glyphicon-envelope icon-sec" aria-hidden="true"></span>
                          <div class="how-text">
                            <h5 class="text-primary mtop10">
                              <a href="maito:spectra.callcentre@apollospectra.com">spectra.callcentre@apollospectra.com</a>
                            </h5>
                            <p class="mbottom0">Email</p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- /panel ends -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a href="#collapseFive" data-parent="#accord" data-toggle="collapse" class="collapsed" aria-expanded="false">
                        <span class="icon-apollologo text-primary" aria-hidden="true"></span>Apollo Sugar
                        <i class="accord glyphicon glyphicon-plus"></i>
                      </a>
                    </h4>
                  </div>
                  <div class="panel-collapse collapse" id="collapseFive" aria-expanded="false">
                    <div class="panel-body">
                      <ul class="howWork-valign  ">
                        <li>
                          <span class=" icon-telephone icon-sec" aria-hidden="true"></span>
                          <div class="how-text">
                            <h5 class="text-primary mtop10">
                              <a href="tel:18001031010">1800-103-1010</a>
                            </h5>
                            <p class="mbottom0">Helpline No</p>
                          </div>
                        </li>
                        <!-- <li><span class="icon-whatsapp-logo-variant icon-sec" aria-hidden="true"></span>
                            <div class="how-text">
                              <h5 class="text-primary mtop10"><a href="https://api.whatsapp.com/send?phone=+917893492244&amp;text=Hi, I contacted you Through your website." target="_blank">+91 7893 492 244</a> </h5>
                              <p class="mbottom0">Whatsapp</p>
                            </div>
                          </li> -->

                        <li>
                          <span class="glyphicon glyphicon-envelope icon-sec" aria-hidden="true"></span>
                          <div class="how-text">
                            <h5 class="text-primary mtop10">
                              <a href="maito:ask@apollosugar.com">ask@apollosugar.com</a>
                            </h5>
                            <p class="mbottom0">Email</p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- /panel ends -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a href="#collapseSix" data-parent="#accord" data-toggle="collapse" class="collapsed" aria-expanded="false">
                        <span class="icon-apollologo text-primary" aria-hidden="true"></span>One Apollo
                        <i class="accord glyphicon glyphicon-plus"></i>
                      </a>
                    </h4>
                  </div>
                  <div class="panel-collapse collapse" id="collapseSix" aria-expanded="false">
                    <div class="panel-body">
                      <ul class="howWork-valign  ">
                        <li>
                          <span class=" icon-telephone icon-sec" aria-hidden="true"></span>
                          <div class="how-text">
                            <h5 class="text-primary mtop10">
                              <a href="tel:18605002917">1860-500-2917</a>
                            </h5>
                            <p class="mbottom0">Helpline No</p>
                          </div>
                        </li>
                        <!-- <li><span class="icon-whatsapp-logo-variant icon-sec" aria-hidden="true"></span>
                            <div class="how-text">
                              <h5 class="text-primary mtop10"><a href="https://api.whatsapp.com/send?phone=+917893492244&amp;text=Hi, I contacted you Through your website." target="_blank">+91 7893 492 244</a> </h5>
                              <p class="mbottom0">Whatsapp</p>
                            </div>
                          </li> -->

                        <li>
                          <span class="glyphicon glyphicon-envelope icon-sec" aria-hidden="true"></span>
                          <div class="how-text">
                            <h5 class="text-primary mtop10">
                              <a href="maito:support@oneapollo.com">support@oneapollo.com</a>
                            </h5>
                            <p class="mbottom0">Email</p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- /panel ends -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a href="#collapSeven" data-parent="#accord" data-toggle="collapse" class="collapsed" aria-expanded="false">
                        <span class="icon-apollologo text-primary" aria-hidden="true"></span>Apollo Online Consultations
                        <i class="accord glyphicon glyphicon-plus"></i>
                      </a>
                    </h4>
                  </div>
                  <div class="panel-collapse collapse" id="collapSeven" aria-expanded="false">
                    <div class="panel-body">
                      <ul class="howWork-valign  ">
                        <li>
                          <span class=" icon-telephone icon-sec" aria-hidden="true"></span>
                          <div class="how-text">
                            <h5 class="text-primary mtop10">
                              <a href="tel:18605001066">1860-500-1066</a>
                            </h5>
                            <p class="mbottom0">Helpline No</p>
                          </div>
                        </li>
                        <li>
                          <span class="icon-whatsapp-logo-variant icon-sec" aria-hidden="true"></span>
                          <div class="how-text">
                            <h5 class="text-primary mtop10">
                              <a href="https://api.whatsapp.com/send?phone=+917093840123&amp;text=Hi, I contacted you Through your website."
                                target="_blank">+91 7093 840 123</a>
                            </h5>
                            <p class="mbottom0">Whatsapp</p>
                          </div>
                        </li>

                        <li>
                          <span class="glyphicon glyphicon-envelope icon-sec" aria-hidden="true"></span>
                          <div class="how-text">
                            <h5 class="text-primary mtop10">
                              <a href="maito:info@askapollo.com">info@askapollo.com</a>
                            </h5>
                            <p class="mbottom0">Email</p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- /panel ends -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a href="#collapseEight" data-parent="#accord" data-toggle="collapse" class="collapsed" aria-expanded="false">
                        <span class="icon-apollologo text-primary" aria-hidden="true"></span>Apollo Pharmacy
                        <i class="accord glyphicon glyphicon-plus"></i>
                      </a>
                    </h4>
                  </div>
                  <div class="panel-collapse collapse" id="collapseEight" aria-expanded="false">
                    <div class="panel-body">
                      <ul class="howWork-valign  ">
                        <li>
                          <span class=" icon-telephone icon-sec" aria-hidden="true"></span>
                          <div class="how-text">
                            <h5 class="text-primary mtop10">
                              <a href="tel:18605000101">1860-500-0101</a>
                            </h5>
                            <p class="mbottom0">Helpline No</p>
                          </div>
                        </li>
                        <li>
                          <span class="icon-whatsapp-logo-variant icon-sec" aria-hidden="true"></span>
                          <div class="how-text">
                            <h5 class="text-primary mtop10">
                              <a href="https://api.whatsapp.com/send?phone=+917013444444&amp;text=Hi, I contacted you Through your website."
                                target="_blank">+91 7013 444 444</a>
                            </h5>
                            <p class="mbottom0">Whatsapp</p>
                          </div>
                        </li>

                        <li>
                          <span class="glyphicon glyphicon-envelope icon-sec" aria-hidden="true"></span>
                          <div class="how-text">
                            <h5 class="text-primary mtop10">
                              <a href="maito:customerservice@apollopharmacy.org">customerservice@apollopharmacy.org</a>
                            </h5>
                            <p class="mbottom0">Email</p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- /panel ends -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a href="#collapseNine" data-parent="#accord" data-toggle="collapse" class="collapsed" aria-expanded="false">
                        <span class="icon-apollologo text-primary" aria-hidden="true"></span>Apollo Diagnostics
                        <i class="accord glyphicon glyphicon-plus"></i>
                      </a>
                    </h4>
                  </div>
                  <div class="panel-collapse collapse" id="collapseNine" aria-expanded="false">
                    <div class="panel-body">
                      <ul class="howWork-valign  ">
                        <li>
                          <span class=" icon-telephone icon-sec" aria-hidden="true"></span>
                          <div class="how-text">
                            <h5 class="text-primary mtop10">
                              <a href="tel:+914044442424">+91 4044 442 424</a>
                            </h5>
                            <p class="mbottom0">Helpline No</p>
                          </div>
                        </li>
                        <li>
                          <span class="icon-whatsapp-logo-variant icon-sec" aria-hidden="true"></span>
                          <div class="how-text">
                            <h5 class="text-primary mtop10">
                              <a href="https://api.whatsapp.com/send?phone=+918790052255&amp;text=Hi, I contacted you Through your website."
                                target="_blank">+91 8790 052 255</a>
                            </h5>
                            <p class="mbottom0">Whatsapp</p>
                          </div>
                        </li>

                        <li>
                          <span class="glyphicon glyphicon-envelope icon-sec" aria-hidden="true"></span>
                          <div class="how-text">
                            <h5 class="text-primary mtop10">
                              <a href="maito:customer.care@apollodiagnostics.in">customer.care@apollodiagnostics.in</a>
                            </h5>
                            <p class="mbottom0">Email</p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- /panel ends -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a href="#collapseTen" data-parent="#accord" data-toggle="collapse" class="collapsed" aria-expanded="false">
                        <span class="icon-apollologo text-primary" aria-hidden="true"></span>Apollo Life
                        <i class="accord glyphicon glyphicon-plus"></i>
                      </a>
                    </h4>
                  </div>
                  <div class="panel-collapse collapse" id="collapseTen" aria-expanded="false">
                    <div class="panel-body">
                      <ul class="howWork-valign  ">
                        <li>
                          <span class=" icon-telephone icon-sec" aria-hidden="true"></span>
                          <div class="how-text">
                            <h5 class="text-primary mtop10">
                              <a href="tel:18001022545">1800-102-2545</a>
                            </h5>
                            <p class="mbottom0">Helpline No</p>
                          </div>
                        </li>
                        <!-- <li><span class="icon-whatsapp-logo-variant icon-sec" aria-hidden="true"></span>
                            <div class="how-text">
                              <h5 class="text-primary mtop10"><a href="https://api.whatsapp.com/send?phone=+918790052255&amp;text=Hi, I contacted you Through your website." target="_blank">+91 8790 052 255</a> </h5>
                              <p class="mbottom0">Whatsapp</p>
                            </div>
                          </li>-->
                        <li>
                          <span class="glyphicon glyphicon-envelope icon-sec" aria-hidden="true"></span>
                          <div class="how-text">
                            <h5 class="text-primary mtop10">
                              <a href="maito:wellnesscallcentre@apollolife.com">wellnesscallcentre@apollolife.com</a>
                            </h5>
                            <p class="mbottom0">Email</p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- /panel ends -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a href="#collapseEleven" data-parent="#accord" data-toggle="collapse" class="collapsed" aria-expanded="false">
                        <span class="icon-apollologo text-primary" aria-hidden="true"></span>Apollo Homecare
                        <i class="accord glyphicon glyphicon-plus"></i>
                      </a>
                    </h4>
                  </div>
                  <div class="panel-collapse collapse" id="collapseEleven" aria-expanded="false">
                    <div class="panel-body">
                      <ul class="howWork-valign  ">
                        <li>
                          <span class=" icon-telephone icon-sec" aria-hidden="true"></span>
                          <div class="how-text">
                            <h5 class="text-primary mtop10">
                              <a href="tel:18605008585">1860-500-8585</a>
                            </h5>
                            <p class="mbottom0">Helpline No</p>
                          </div>
                        </li>
                        <!-- <li><span class="icon-whatsapp-logo-variant icon-sec" aria-hidden="true"></span>
                            <div class="how-text">
                              <h5 class="text-primary mtop10"><a href="https://api.whatsapp.com/send?phone=+918790052255&amp;text=Hi, I contacted you Through your website." target="_blank">+91 8790 052 255</a> </h5>
                              <p class="mbottom0">Whatsapp</p>
                            </div>
                          </li>-->
                        <li>
                          <span class="glyphicon glyphicon-envelope icon-sec" aria-hidden="true"></span>
                          <div class="how-text">
                            <h5 class="text-primary mtop10">
                              <a href="maito:reach@apollohomecare.com">reach@apollohomecare.com</a>
                            </h5>
                            <p class="mbottom0">Email</p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- /panel ends -->
              </section>
              <!--/ accord-content closed-->
            </div>
          </section>
        </section>
        <!-- /listing closed -->
      </aside>
      <!-- /left-content closed-->
      <!-- /right-content closed -->
    </div>
    <!-- /row -->
  </section>
  <!-- /content-wrap closed -->
</section>
<!--/ inner-pages closed -->
<!-- bottom -app banner start-->
<section class="app-bannerBtm visible-xs">
  <div class="container">
    <h3>AskApollo Mobile App</h3>
    <h5>One stop destination for all healthcare and wellness needs</h5>
    <p>
      <a href="#1" class="btn-whtLine btn">Install App</a>
    </p>
    <a href="#">
      <img src="assets/app-mobile.png" alt="AskApoll App">
    </a>
  </div>
</section>
<!-- bottom -app banner start-->
<!-- seo-text-start-->
<section class="seo-text hidden-xs hidden-sm">
  <div class="container">
    <h4>KNOW MORE</h4>
    <p class="font-10">Dermatology is that branch of medical science which is associated with the diagnosis and treatment of skin related issues,
      such as diseases affecting the skin, hair and the nails. Specialists who excel at dermatology are called dermatologists.
      Skin is one of the sense organs of the human body that protecting it from injuries, infections and bacteria. Skin disorders
      are common and everyone among us experience skin related problems in life, including old people, children and infants.
      Diagnosis and treatment of disorders, cancers, diseases and ageing conditions of the skin are not the only activities
      in dermatology. There are other important functions as well. Topical and systemic medications, dermatologic surgery
      and dermatologic cosmetic surgery, phototherapy, laser therapy, radiotherapy and photodynamic therapy are some of the
      major treatment methods applied by a dermatologist. Being a good dermatologist involves sufficient training in microbiology,
      biochemistry, physics, endocrinology, physiology, pathology and other disciplines. Dermatology is often associated
      with internal problems and hence, the dermatologist must be familiar with other disciplines. Dermatologists treat skin
      disorders like warts, skin cancer, dermatitis, fungal infections, psoriasis, acne, hand dermatitis and eczema. A qualified
      dermatologist concentrates on multiple activities like acting as consultants to other specialists, seeing patients
      in private or in hospitals, teaching and carrying out research work on their medical field. Common treatment methods
      include medications and injections. Surgeries are used in critical cases which include extraction of skin cancers,
      growths and performing biopsies. Apollo makes life easier for you by helping you locate skilled dermatologists in Hyderabad
      who will address your problems efficiently. The specialists are picked with the help of strict guidelines and screening.
      Subscribe to Apollo and reach out to the leading dermatologists in Hyderabad. Listed below are some of the best dermatologists
      in Hyderabad.</p>
    <h5 class="mbottom5">DERMATOLOGIST</h5>
    <p class="font-10">A dermatologist is a doctor who specializes in the field of dermatology, which pertains to the study of disorders related
      to the skin, hair, nails and sweat and oil glands, and mucous membranes.</p>
    <h5 class="mbottom5">WHEN SHOULD YOU CONSULT DERMATOLOGIST?</h5>
    <p class="font-10">Dermatologists can effectively detect skin cancer and provide diagnosis for it.</p>
    <h5 class="mbottom5">WHAT IS THE ROLE OF DERMATOLOGIST?</h5>
    <p class="font-10">A dermatologist will first perform a check-up through testing and examination of medical reports as well as a thorough
      assessment of the patient’s medical history, diet and lifestyle.</p>
    <h5 class="mbottom5">COMMON PROBLEMS YOU SHOULD SEE DERMATOLOGIST FOR</h5>
    <p class="font-10">Dermatological help can be sought for other issues such as poor diet and an unhealthy lifestyle.</p>
    <h5 class="mbottom5">DID YOU KNOW?</h5>
    <p class="font-10">The human skin is constantly shedding off dead cells and replacing them by generating new ones. Over a period of 28 days,
      it completely renews itself.</p>
    <h5 class="mbottom5">HEALTH TIP</h5>
    <p class="font-10">6 Face Washing Mistakes that are Damaging Your Skin, Everyday! Face-washing may be a simple everyday task that requires
      no great effort on your part. But when it?s not done right, it causes significant harm to your skin, each day. The
      mistakes that you may make while washing your face could lead to issues like irritation, dryness and even wrinkles.
      Read on to find out how you can avoid making these common errors, and save your skin from blemishes, ageing and lustreless
      look. 1. Using the wrong cleanser The use of the wrong cleanser can throw your ph levels out of balance. The optimal
      ph balance of your skin is 5.5ph. This is the ideal level at which the thin protective layer on the surface of the
      skin (called acid mantle) can function to keep germs, toxins and bacteria at bay. You should therefore be picking your
      cleanser based on your skin type as it would come with the right ph balance. 2. Not cleaning your hands before touching
      the face Always clean the germs and dirt of your hands first before moving onto your face. Ignoring this crucial first
      step can cause you to transfer all the bacteria and dirt of your hands on your face, giving rise to common skin problems
      such as acne, pimples and blackheads. 3. Using a pre-used washcloth To avoid the filth from clogging your pores, always
      clean the washcloth that you use with an antiseptic to keep germs and bacteria at bay. Once you're done washing your
      face, don't rub the cloth all over your face but pat dry it. 4. Washing face using with hot water When it comes to
      the water that you splash on your face, you should always use lukewarm or room temperature water. This is because hot
      water leaves your skin dry as it washes away the skin's essential oils; and cold water can break the capillaries (fine
      blood vessels) of your skin. In contrast, mildly lukewarm water will keep your skin hydrated and healthy. 5. Not washing
      the face twice a day Just as you shouldn't ignore this important skin care habit that keeps your skin clean, you also
      shouldn't go overboard with it. Excessive face-washing can hamper the natural oil production of your skin, giving rise
      to dryness and irritation as a result. Your skin requires the natural oil it produces to keep it smooth and supple.
      Ideally, you should wash your face twice daily - once in the morning for removing the bacteria and dirt that clogged
      your pores, and again at night before going to bed. 6. Rushing through the routine Lastly, don't rush through your
      cleansing routine. Make sure to properly rinse your face of cleanser completely, otherwise the residues would cause
      your skin to dry up later on, leading to skin irritation. It is therefore very important to pay attention to all the
      little details that make up your face-washing routine. By doing it right, you get to achieve the clear and blemish-free
      skin that you always wanted.</p>
  </div>
</section>
<!-- /seo-text-closed -->