<section class="wt-bg">
  <section class="col-sm-offset-3 col-sm-6 box-slide mar-15-xs">
  	<div class=" text-center thnk-you mtop40">
            
            <span class="circle"><span class="icon-check"></span></span>
            
              
        </div>
     <h4 class="text-info text-center" style="margin-top: 80px;">Thank you for taking the time for filling the health questionnaire</h4>
       
      
      <p class="mtop30 hide">We would like to recommended any one of the following packages based on the information you have provided. Please have a look at the contents of the recommended package before you make your choice</p>
      <ul class="list-view hide">
          <li><a  href="#1">abc1</a></li>
          <li><a href="#1">abc2</a></li>
          <li><a href="#1">abc3</a></li>
          <li><a href="#1">abc4</a></li>
        </ul>
            
       <div class="wt-bg mtop20 font-11 text-grey">
        <span class="text-info">Disclaimer:</span>
  Based on the examination findings and your consultation with the physician, additional tests may be requested if needed.

      
      </div>
     
  </section>
</section>

