<!-- <div id="loadingid" style="display: none;">
    <div class="circle-container">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </div>
</div> -->

<div id="loadingid"style="display: none;">
  <div class="sk-circle" >
    <div class="sk-circle1 sk-child"></div>
    <div class="sk-circle2 sk-child"></div>
    <div class="sk-circle3 sk-child"></div>
    <div class="sk-circle4 sk-child"></div>
    <div class="sk-circle5 sk-child"></div>
    <div class="sk-circle6 sk-child"></div>
    <div class="sk-circle7 sk-child"></div>
    <div class="sk-circle8 sk-child"></div>
    <div class="sk-circle9 sk-child"></div>
    <div class="sk-circle10 sk-child"></div>
    <div class="sk-circle11 sk-child"></div>
    <div class="sk-circle12 sk-child"></div>
  </div>
  </div>
<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push"> 
    <app-sidenav></app-sidenav>
  </mat-sidenav>
 
  <mat-sidenav-content>

    <app-header *ngIf="router.url != '/alexa-login'">
      <a class="menu visible-sm visible-xs" (click)="sidenav.toggle()" ham-menu-xs>
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
      </a>

      <a class="menu" (click)="sidenav.toggle()" ham-menu-gxs>
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
      </a>
    </app-header>
    <main class="d-flex flex-column">
      <router-outlet></router-outlet>
    </main>
    <app-footer class="d-flex align-self-end" *ngIf="!isNavya && router.url != '/alexa-login'"></app-footer>  
  </mat-sidenav-content>
</mat-sidenav-container>

<div id="myModal" class="modal1">
  <div class="modal-content1">
    <span (click)="closepopup()" class="close1">&times;</span>
    <p id="pMsg"></p>
    <input type="submit" value="Yes" (click)="acceptCall()"/>
    <input type="submit" value="No" (click)="rejectVideoCall()"/>
  </div>
</div>

<div class="w3-container">
  <div id="autoLogout" class="w3-modal">
      <div class="w3-modal-content">
          <div class="w3-container">
              <!-- <span (click)="closeAlertForIdle()" class="w3-button w3-display-topright" style="font-size:20px">&times;</span> -->
              <p></p>
              <p id="autoLogOutBody" style="font-size:larger"></p>
          </div>
      </div>
  </div>
</div>
