.profile-img{ float:left; width:60px;}
.profile-img .round-tab, .mini.round-tab{ width:60px; height:60px; line-height:18px;}

.user-sec{
	text-align:center;
}
.user-sec .profile-img{
	float:none;
}
.user-sec .profile-img a, .user-sec .profile-img img{
	outline:none;
}