<section class="container content-wrap">
	<div class="row">
		<aside class="col-md-12 right-content ">
<section class="col-sm-offset-3 col-sm-6 box-slide mar-15-xs">
				<div class="fadeInRight animated" id="dignosedasthama" >				
				<section class="box-head">
				     <section class="row progress-top">
				        <div class="col-xs-4">History</div>
				        <div class="col-xs-4 pleft0-xs">Habits </div>
				        <div class="col-xs-4 pleft0-xs">Condition</div>
				     </section>
			        <div class="progress mini">
			        <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
			      </div>
			    </section>
				 	<fieldset class="fadeInRight animated ">
		        	<h4 class="heading mtop15"><span class="icon-medkit text-info"></span> Diagnosed with Asthama</h4>
		        	<div class="form-group mtop20">
			        	<label class="text-primary">1) Year of diagnosis:</label>
			        	<div class="dropdown bootstrap-select">
			          	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Select year <span class="caret"></span> </button>
			          	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			            <li><a href="#1" data-value="+1">2000</a></li>
			            <li><a href="#1" data-value="+2">2001</a></li>
			            <li><a href="#1" data-value="+3">2002</a></li>
			          	</ul>
			        	</div>
		       		</div>
		       		<div class="form-group">
		        		<label class="text-primary">2) Are you on medications:<span class="asterisk">*</span></label>
		        		<div class="clearfix"></div>
		        		<div class=" radio-inline custom-radio">
		          		<input name="radi" id="radiogen1"   value="option1" type="radio">
		          		<label for="radiogen1" class="font-300 text-black"> Yes </label>
		        		</div>
			        	<div class="radio-inline custom-radio">
			         		<input name="radi" id="radiogen2"   value="option1" type="radio">
			          		<label for="radiogen2" class="font-300 text-black"> No </label>
			        	</div>
		      		</div>
		      		<div class="form-group">
		        		<label class="text-primary">3) Do you take your medications regularly:<span class="asterisk">*</span></label>
		        		<div class="clearfix"></div>
		        		<div class=" radio-inline custom-radio">
		          			<input name="medi-reg" id="reg1"  class="next-call"  value="option1"  type="radio">
		          			<label for="reg1" class="font-300 text-black"> Regular </label>
		        		</div>
				        <div class="radio-inline custom-radio">
				          <input name="medi-reg" id="no-reg1" class="next-call"   value="option1" type="radio">
				          <label for="no-reg1" class="font-300 text-black"> Not Regular </label>
				        </div>
				        <div class="radio-inline custom-radio">
				          <input name="medi-reg" id="when-needed" class="next-call"   value="option1" type="radio">
				          <label for="when-needed" class="font-300 text-black"> When Needed </label>
				        </div>
		     		</div>
		      		<section class="lightgrey-box radius25 mtop20"> <a id="step-1-next" href="javascript:void(0)" class="btn btn-info radius25 btn-sm pull-right next">Next <span class="icon-right-arrow"></span></a> <a id="step-1-next"  class="btn btn-primaryLine radius25 btn-sm previous" ><span class="icon-left-arrow"></span></a> </section>
		      		</fieldset>
    	    	</div>
    	    	</section>
    	    </aside>
    	</div>
    </section>
