<!-- footer-start-->
<footer class="footer leftside">
    <div class="container footer-top hidden-sm hidden-xs">
        <h3 class="footer-title text-center">Quick Links</h3>
      <div class="row" *ngIf="activeTab != us.TAB_ONLINE_CONSULTATION">
        <div class="col-md-5ths col-xs-4">
            <h5>Bangalore</h5>
            <ul>
              <li><a routerLink="/bangalore/nephrologist" title="Nephrologist In bangalore">Nephrologist In bangalore</a></li>
              <li><a routerLink="/bangalore/internal-medicine-physician" title="Internal Medicine In bangalore"> Internal Medicine In bangalore</a></li>
              <li><a routerLink="/bangalore/rheumatologist" title="Rheumatologist In bangalore">Rheumatologist In bangalore</a></li>
              <li><a routerLink="/bangalore/dermatologist" title="Dermatologist In bangalore">Dermatologist In bangalore</a></li>
              <li><a routerLink="/bangalore/pediatrician" title="Pediatrician In bangalore">Pediatrician In bangalore</a></li>
              <li><a routerLink="/bangalore/urologist" title="Urologist In bangalore">Urologist In bangalore</a></li>
              <li><a routerLink="/bangalore/cardiologist" title="Cardiologist In bangalore">Cardiologist In bangalore</a></li>
              <li><a routerLink="/bangalore/psychiatrist" title="Psychiatrist In Bangalore">Psychiatrist In Bangalore</a></li>
              <li><a routerLink="/bangalore/oncologist" title="Oncologist In Bangalore">Oncologist In Bangalore</a></li>
              <li><a routerLink="/bangalore/pediatric-orthopedician" title="Paediatric Orthopaedics In Bangalore">Paediatric Orthopaedics In Bangalore</a></li>
            </ul>
        </div>		
        <div class="col-md-5ths col-xs-4">
            <h5>Chennai</h5>
             <ul>
          <li><a routerLink="/chennai/urogynaecologist" title="Urogynaecology In Chennai">Urogynaecology In Chennai</a></li>
          <li><a routerLink="/chennai/orthopedician" title="Orthopedic In Chennai"> Orthopedic In Chennai</a></li>
          <li><a routerLink="/chennai/neurologist" title="Neurologist In Chennai">Neurologist In Chennai</a></li>
          <li><a routerLink="/chennai/dermatologist" title="Dermatologist In Chennai">Dermatologist In Chennai</a></li>
          <li><a routerLink="/chennai/rheumatologist" title="Rheumatology In Chennai">Rheumatology In Chennai</a></li>
          <li><a routerLink="/chennai/urologist" title="Urologist In Chennai">Urologist In Chennai</a></li>
          <li><a routerLink="/chennai/cardiologist" title="Cardiologist In Chennai">Cardiologist In Chennai</a></li>
          <li><a routerLink="/chennai/gastroenterologist" title="Gastroenterologist In Chennai">Gastroenterologist In Chennai</a></li>
          <li><a routerLink="/chennai/colorectal-surgery" title="Colorectal Surgery In Chennai">Colorectal Surgery In Chennai</a></li>
          <li><a routerLink="/chennai/diabetologist" title="Diabetologist In Chennai">Diabetologist In Chennai</a></li>
      </ul>
        </div>
        <div class="col-md-5ths col-xs-4">
            <h5>Kolkata</h5>
            <ul>
              <li><a routerLink="/kolkata/nephrologist" title="Nephrologist In Kolkata">Nephrologist In Kolkata</a></li>
              <li><a routerLink="/kolkata/internal-medicine-physician" title="Internal Medicine In Kolkata">Internal Medicine In Kolkata</a></li>
              <li><a routerLink="/kolkata/rheumatologist" title="Rheumatologist In Kolkata">Rheumatologist In Kolkata</a></li>
              <li><a routerLink="/kolkata/dermatologist" title="Dermatologist In Kolkata">Dermatologist In Kolkata</a></li>
              <li><a routerLink="/kolkata/pediatrician" title="Pediatrician In Kolkata">Pediatrician In Kolkata</a></li>
              <li><a routerLink="/kolkata/urologist" title="Urologist In Kolkata">Urologist In Kolkata</a></li>
              <li><a routerLink="/kolkata/cardiologist" title="Cardiologist In Kolkata">Cardiologist In Kolkata</a></li>
              <li><a routerLink="/kolkata/psychiatrist" title="Psychiatrist In Kolkata">Psychiatrist In Kolkata</a></li>
              <li><a routerLink="/kolkata/oncologist" title="Oncologist In Kolkata">Oncologist In Kolkata</a></li>
              <li><a routerLink="/kolkata/gynecologist" title="Gynecologist In Kolkata">Gynecologist In Kolkata</a></li>
            </ul>
        </div>
        <div class="col-md-5ths col-xs-4">
            <h5>Delhi</h5>
            <ul>
              <li><a routerLink="/delhi/obstetrician-and-gynecologist" title="Obstetrics and Gynecologist In Delhi">Obstetrics and Gynecologist In Delhi</a></li>
              <li><a routerLink="/delhi/orthopedician" title="Orthopedic In Delhi"> Orthopedic In Delhi</a></li>
              <li><a routerLink="/delhi/neurologist" title="Neurologist In Delhi">Neurologist In Delhi</a></li>
              <li><a routerLink="/delhi/dermatologist" title="Dermatologist In Delhi">Dermatologist In Delhi</a></li>
              <li><a routerLink="/delhi/pediatric-cardiologist" title=" Paediatric Cardiology In Delhi"> Paediatric Cardiologist In Delhi</a></li>
              <li><a routerLink="/delhi/urologist" title="Urologist In Delhi">Urologist In Delhi</a></li>
              <li><a routerLink="/delhi/cardiologist" title="Cardiologist In Delhi">Cardiologist In Delhi</a></li>
              <li><a routerLink="/delhi/neurologist" title="Neurologist In Delhi">Neurologist In Delhi</a></li>
              <li><a routerLink="/delhi/oncologist" title="Oncologist In Delhi">Oncologist In Delhi</a></li>
              <li><a routerLink="/delhi/endocrinologist" title="Endocrinologist In Delhi">Endocrinologist In Delhi</a></li>
              <li><a routerLink="/delhi/plastic-and-cosmetic-surgery" title="Cosmetic Surgeon In Delhi">Cosmetic Surgeon In Delhi</a></li>
            </ul>
        </div>
        <div class="col-md-5ths col-xs-4">
            <h5>Hyderabad</h5>
            <ul>
              <li><a routerLink="/hyderabad/gynecologist" title="Gynecologist In Hyderabad">Gynecologist In Hyderabad</a></li>
              <li><a routerLink="/hyderabad/orthopedician" title="Orthopedic In Hyderabad"> Orthopedic In Hyderabad</a></li>
              <li><a routerLink="/hyderabad/neurologist" title="Neurologist In Hyderabad">Neurologist In Hyderabad</a></li>
              <li><a routerLink="/hyderabad/dermatologist" title="Dermatologist In Hyderabad">Dermatologist In Hyderabad</a></li>
              <li><a routerLink="/hyderabad/pediatrician" title="Pediatrician In Hyderabad">Pediatrician In Hyderabad</a></li>
              <li><a routerLink="/hyderabad/urologist" title="Urologist In Hyderabad">Urologist In Hyderabad</a></li>
              <li><a routerLink="/hyderabad/cardiologist" title="Cardiologist In Hyderabad">Cardiologist In Hyderabad</a></li>
              <li><a routerLink="/hyderabad/surgical-gastroenterologist" title=" Surgical Gastroenterologist In Hyderabad"> Surgical Gastroenterologist In Hyderabad</a></li>
              <li><a routerLink="/hyderabad/radiation-oncologist" title="Radiation Oncologist In Hyderabad">Radiation Oncologist In Hyderabad</a></li>
              <li><a routerLink="/hyderabad/ent-specialist" title="ENT In Hyderabad">ENT In Hyderabad</a></li>
            </ul>
        </div>
      </div>

      <div class="row" *ngIf="activeTab == us.TAB_ONLINE_CONSULTATION">
        <div class="col-md-5ths col-xs-4">
            <h5>Bangalore</h5>
            <ul>
              <li><a (click)="goToDoctorSearch('nephrology','bangalore')" title="Nephrologist In bangalore">Nephrologist In Bangalore</a></li>
              <!-- <li><a (click)="goToDoctorSearch('Internal Medicine','Bengaluru')" title="Internal Medicine In bangalore">  Internal Medicine In Bangalore</a></li> -->
              <li><a (click)="goToDoctorSearch('rheumatology','bangalore')" title="Rheumatologist In bangalore">Rheumatologist In Bangalore</a></li>
              <li><a (click)="goToDoctorSearch('dermatology','bangalore')" title="Dermatologist In bangalore">Dermatologist In Bangalore</a></li>
              <!-- <li><a (click)="goToDoctorSearch('Internal Medicine','Bengaluru')" title="Pediatrician In bangalore">Pediatrician In Bangalore</a></li> -->
              <li><a (click)="goToDoctorSearch('urology','bangalore')" title="Urologist In bangalore">Urologist In Bangalore</a></li>
              <li><a (click)="goToDoctorSearch('cardiology','bangalore')" title="Cardiologist In bangalore">Cardiologist In Bangalore</a></li>
              <li><a (click)="goToDoctorSearch('psychiatry','bangalore')" title="Psychiatrist In Bangalore">Psychiatrist In Bangalore</a></li>
              <li><a (click)="goToDoctorSearch('oncology','bangalore')" title="Oncologist In Bangalore">Oncologist In Bangalore</a></li>
              <li><a (click)="goToDoctorSearch('Paediatric Orthopaedics','bangalore')" title="Paediatric Orthopaedics In Bangalore">Paediatric Orthopaedics In Bangalore</a></li>
            </ul>
        </div>    
        <div class="col-md-5ths col-xs-4">
            <h5>Chennai</h5>
             <ul>
          <li><a (click)="goToDoctorSearch('urogynaecology','Chennai')" title="Urogynaecology In Chennai">Urogynaecology In Chennai</a></li>
          <li><a (click)="goToDoctorSearch('orthopaedics','Chennai')" title="Orthopedic In Chennai"> Orthopedic In Chennai</a></li>
          <li><a (click)="goToDoctorSearch('neurology','Chennai')" title="Neurologist In Chennai">Neurologist In Chennai</a></li>
          <li><a (click)="goToDoctorSearch('dermatology','Chennai')" title="Dermatologist In Chennai">Dermatologist In Chennai</a></li>
          <li><a (click)="goToDoctorSearch('rheumatology','Chennai')" title="Rheumatology In Chennai">Rheumatology In Chennai</a></li>
          <li><a (click)="goToDoctorSearch('urology','Chennai')" title="Urologist In Chennai">Urologist In Chennai</a></li>
          <li><a (click)="goToDoctorSearch('cardiology','Chennai')" title="Cardiologist In Chennai">Cardiologist In Chennai</a></li>
          <li><a (click)="goToDoctorSearch('gastroenterology','Chennai')" title="Gastroenterologist In Chennai">Gastroenterologist In Chennai</a></li>
          <!-- <li><a (click)="goToDoctorSearch('colorectal surgeon','Chennai')" title="Colorectal Surgery In Chennai">Colorectal Surgery In Chennai</a></li> -->
          <li><a (click)="goToDoctorSearch('diabetology','Chennai')" title="Diabetologist In Chennai">Diabetologist In Chennai</a></li>
      </ul>
        </div>
        
        <div class="col-md-5ths col-xs-4">
            <h5>Delhi</h5>
            <ul>
              <li><a (click)="goToDoctorSearch('obstetrics and gynecology','New Delhi')" title="Obstetrics and Gynecologist In Delhi">Obstetrics and Gynecologist In Delhi</a></li>
              <li><a (click)="goToDoctorSearch('orthopaedics','New Delhi')" title="Orthopedic In Delhi"> Orthopedic In Delhi</a></li>
              <li><a (click)="goToDoctorSearch('neurology','New Delhi')" title="Neurologist In Delhi">Neurologist In Delhi</a></li>
              <li><a (click)="goToDoctorSearch('dermatology','New Delhi')" title="Dermatologist In Delhi">Dermatologist In Delhi</a></li>
              <li><a (click)="goToDoctorSearch('Paediatric Cardiology','New Delhi')" title=" Paediatric Cardiology In Delhi"> Paediatric Cardiologist In Delhi</a></li>
              <li><a (click)="goToDoctorSearch('urology','New Delhi')" title="Urologist In Delhi">Urologist In Delhi</a></li>
              <li><a (click)="goToDoctorSearch('cardiology','New Delhi')" title="Cardiologist In Delhi">Cardiologist In Delhi</a></li>
              <li><a (click)="goToDoctorSearch('neurology','New Delhi')" title="Neurologist In Delhi">Neurologist In Delhi</a></li>
              <li><a (click)="goToDoctorSearch('oncology','New Delhi')" title="Oncologist In Delhi">Oncologist In Delhi</a></li>
              <li><a (click)="goToDoctorSearch('endocrinology','New Delhi')" title="Endocrinologist In Delhi">Endocrinologist In Delhi</a></li>
            </ul>
        </div>
        <div class="col-md-5ths col-xs-4">
            <h5>Hyderabad</h5>
            <ul>
              <li><a (click)="goToDoctorSearch('gynaecology','Hyderabad')" title="Gynecologist In Hyderabad">Gynecologist In Hyderabad</a></li>
              <li><a (click)="goToDoctorSearch('orthopaedics','Hyderabad')" title="Orthopedic In Hyderabad"> Orthopedic In Hyderabad</a></li>
              <li><a (click)="goToDoctorSearch('neurology','Hyderabad')" title="Neurologist In Hyderabad">Neurologist In Hyderabad</a></li>
              <li><a (click)="goToDoctorSearch('dermatology','Hyderabad')" title="Dermatologist In Hyderabad">Dermatologist In Hyderabad</a></li>
              <li><a (click)="goToDoctorSearch('Internal Medicine','Hyderabad')" title="Pediatrician In Hyderabad">Pediatrician In Hyderabad</a></li>
              <li><a (click)="goToDoctorSearch('urology','Hyderabad')" title="Urologist In Hyderabad">Urologist In Hyderabad</a></li>
              <li><a (click)="goToDoctorSearch('cardiology','Hyderabad')" title="Cardiologist In Hyderabad">Cardiologist In Hyderabad</a></li>
              <li><a (click)="goToDoctorSearch('surgical gastroenterology','Hyderabad')" title=" Surgical Gastroenterologist In Hyderabad"> Surgical Gastroenterologist In Hyderabad</a></li>
              <li><a (click)="goToDoctorSearch('radiation oncology','Hyderabad')" title="Radiation Oncologist In Hyderabad">Radiation Oncologist In Hyderabad</a></li>
              <li><a (click)="goToDoctorSearch('ent','')" title="ENT In Hyderabad">ENT In Hyderabad</a></li>
            </ul>
        </div>
      </div>

    </div>

    <div class="container footer-top hidden-sm hidden-xs">
        <h3 class="footer-title text-center">Apollo Directories</h3>
      <div class="row">
        <div class="col-md-5ths col-xs-4">
            <ul>
              <li><a routerLink="/specialistdirectory" title="Specialist Index">Specialist Index</a></li>
              <li><a routerLink="/locality-city-index" title="Locality City Index">Locality City Index</a></li>
              <li><a routerLink="/ladydoctorsindex" title="Lady Doctors">Lady Doctors</a></li>
            </ul>
        </div>    
        <div class="col-md-5ths col-xs-4">
             <ul>
              <li><a routerLink="/specialtydirectory" title="Speciality Index">Speciality Index</a></li>
              <!-- <li><a routerLink="/doctorsindex" title="Doctors Index">Doctors Index</a></li> -->
              <li><a routerLink="/specialities-diseases" title="Diseases Index">Diseases Index</a></li>
              <li><a routerLink="/city-hospitals" title="City Hospitals Index">City Hospitals Index</a></li>
              
      </ul>
        </div>
        <div class="col-md-5ths col-xs-4">
            <ul>
              <li><a routerLink="/city-index" title="City Index">City Index</a></li>
              <li><a routerLink="/india" title="Apollo Doctors">Apollo Doctors</a></li>
              <li><a routerLink="/specialities-treatments" title="Treatments Index">Treatments Index</a></li>
              
            </ul>
        </div>
        <div class="col-md-5ths col-xs-4">
            <ul>
              <li><a routerLink="/city-speciality-index" title="City Speciality Index">City Speciality Index</a></li>
              <!-- <li><a routerLink="/city-hyperlocations-specialities" title="City Locality Specialist Index">City Locality Specialist Index</a></li>
              <li><a routerLink="/city-groupname-specialities" title="City Groupname Index">City Groupname Index</a></li> -->
              <li><a routerLink="/city-specialist-index" title="City Specialist Index">City Specialist Index</a></li>
              <li><a routerLink="/hospitals-healthcheck-list" title="Health Checks Directory">Health Checks Directory</a></li>
            </ul>
        </div>
        <div class="col-md-5ths col-xs-4">
            <ul>
              
              <!-- <li><a routerLink="/diseases-complication-glossary" title="Medical Glossary">Medical Glossary</a></li> -->
              <li><a routerLink="/languagesindex" title="Language Index">Language Index</a></li>
              <li><a routerLink="/city-language-index" title="City Language Index">City Language Index</a></li>
            </ul>
        </div>
      </div>
    </div>
    <div class="footer-nav"> 
      <a routerLink="/" title="Book Appointment">Home</a>
      <a routerLink="about-us" title=" About us "> About us </a>
      <a href="http://blog.askapollo.com/" target="_blank" title="Health Library">Health Library</a> 
      <a routerLink="faqs" title="Faqs">Faqs</a>  
      <a routerLink="site-map" title="Site Map">Site Map</a> 
      <a routerLink="contact-us" title="Contact us">Contact us</a> 
      <a href="https://www.apollohospitals.com/departments/heart/stent-prices-disclosure" target="_blank" >Our Stent Pricing </a> 
      <a routerLink="terms-of-use">Terms of Use </a> 
      <a href="https://www.apollohospitals.com/departments/orthopedic/our-implant-pricing" target="_blank" >Total Knee Replacement Implants Pricing</a> 
    </div>
    <!--footer-bottom start-->
    <div class="footer-bottom">
              <div class="container text-center">
                  <span class="pull-left "><img src="./assets/f-logo.png" title="Ask Apollo"></span>
                  <span class="copy">Copyright - 2018. Apollo Hospitals Group. All Rights Reserved.</span>
                  &nbsp;  &nbsp; <span class="copy mleft7"> Powered by <a href="http://www.apollotelehealth.com:9013/HNG/index_hng.jsp"  style="color:#fff" target="_blank">HealthNet Global</a></span>
                 <span class="pull-right social-links">
                      <a href="https://www.facebook.com/AskApolloOnline/" target="_blank"><span class="icon-facebook-logo-button" aria-hidden="true"></span></a>
                      <a href="https://twitter.com/askapollo" target="_blank"><span class="icon-twitter" aria-hidden="true"></span></a>
                      <a href="https://plus.google.com/115191416965300213774" target="_blank"><i class="icon-googleplus-logo"></i></a>
                  </span>
              </div>
          </div>
      <!--footer-bottom Closed-->
  </footer>
  <!-- /footer-closed -->