.app-bannerBtm{ text-align:center; background:#007c9d; padding-top:20px; text-align:center; color:#fff;}
.app-bannerBtm h5,.app-bannerBtm h3{ padding:0px 0px 10px; }
.app-bannerBtm .btn{ margin-bottom:15px;}