<!-- inner-pages start -->
<section class="inner-pages">
  <!-- mini-header start-->
  <section class="mini-header">
    <div class="brn-btm">
      <div class="container filter-sec">
	  	
		
      </div>
    </div>
  </section>
  <!-- /mini-header closed-->
  <!-- content-wrap start -->
  <section class="container content-wrap">
    <div class="row">    
    
      <aside class="col-sm-12 fadeInLeft animated wt-bg">
	      <section class="row bdr-bottom"><div class="col-sm-12"><h4 class="text-primary margin0">City Hospitals Index</h4></div></section>	
			  <section class="accord-content" id="accord">
          <div class="panel panel-default" *ngFor="let ch of cityHosIndex | filterBy: cityHoslistFilter; let i=index ">
              <div class="panel-heading">
                  <h4 class="panel-title"><a href="#collapseOne{{i}}" data-parent="#accord" data-toggle="collapse" class="{{i==0?'':'collapsed'}}" aria-expanded="false">{{ch.CityName}}<i class="accord glyphicon glyphicon-plus"></i></a> 
                </h4>
              </div>
              <div class="panel-collapse collapse {{i==0?'in':''}}" id="collapseOne{{i}}"aria-expanded="false" >
                <div class="panel-body" > 
                    <ul class="list-arrow-link wdt-30-md bdr-btm-link" >
                      <li *ngFor="let lch of ch.ListHospitals;"><a [routerLink]="['/', lch.CityName.toLowerCase(),'hospital', lch.UrlHospitalName]">{{lch.HospitalName}}</a></li>
                    </ul>
                </div>
              </div>
          </div>
          <!-- /panel ends -->
        </section>
        <!--/ accord-content closed-->
		
      </aside>
      <!-- /wt-bg closed -->
    </div>
    <!-- /row -->
  </section>
  <!-- /content-wrap closed -->
</section>
<!--/ inner-pages closed -->